@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&family=Poppins:wght@200;300;400;500;600;700;800&display=swap');



*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif !important;
    list-style: none;
    text-decoration: none;
    font-weight: 900;
}
:root{
    --verde: #3a9842;
    --dark: #0D0D0D ;
    --white: #fff;
    --fundo: #F5F5F5;
    --verde_claro: #CADDCB;
}
header a{
    color: var(--verde);
    text-decoration: none;
}
header{
    padding: 10px;
    display: flex;
    font-size: 20px;
}
header i{
    font-size: 30px;
}


/*logo img*/
.logo_flower{
    justify-content: center;
    display: flex;
    align-items: center;

}
.logo_flower img{
    width: 45%;
    margin-bottom: 10px;
}
/*logo img*/

/*Texto_logo*/
.Texto_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    flex-wrap: wrap;
}
.Texto_logo h1{
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 0px;
}
.Texto_logo p{
    font-weight: 900;
    font-size: 15px;
    color: var(--verde_claro);
    width: 100%;
    margin: 0px 60px 10px 60px;
    
}
/*Texto_logo*/

/*forms*/
form{
    margin: 0px 30px;
}
.form-control{
    border: solid 2px var(--verde_claro);
    border-radius: 50px;
    margin: auto ;
    color: var(--verde_claro);
    transition: none;
}
.form-control:hover{
    border: solid 2px var(--verde_claro);
    box-shadow: var(--verde_claro);
}
.form-control::placeholder{
    color: var(--verde_claro);
    font-size: 15px;
    font-weight: 700;
}
.form-control:focus{
    border: solid 2px var(--verde_claro);
    box-shadow: var(--verde_claro);
    box-shadow: none;
}
/*lembrar de mim*/
.form-check{
    justify-content: center;
    display: flex;
    align-items: center;
    box-shadow: none;
}
.form-check a{
    text-decoration: none;
    color: var(--verde_claro);
    font-size: 15px;
}
.form-check-label{
    color: var(--verde_claro);
    font-weight: 700;
    border-color: var(--verde_claro);
    box-shadow: none;
}
.form-check-input{
    border: solid 2px var(--verde_claro);
    border-radius: 50px;
    color: var(--verde_claro);
    box-shadow: none;
    align-items: center;
    justify-content: center;
    display: flex;

}
.form-check-input:hover{
    border: solid 2px var(--verde_claro);
    box-shadow: var(--verde_claro);
    box-shadow: none;
}
.form-check-input:focus{
    border: solid 2px var(--verde_claro);
    box-shadow: var(--verde_claro);
    box-shadow: none;
}
.form-check-input:checked{
    background-color: var(--verde_claro);
    border-color: var(--verde_claro);
    box-shadow: none;
}
.termos{
    cursor: pointer;
    color: var(--verde);
}
/*lembrar de mim*/
/*login*/

.btn-primary{
    border-radius: 50px;
    background-color: var(--verde);
    border: none;
    font-weight: 800;
    transition: none;
    --bs-btn-active-bg: var(--verde);
    --bs-btn-hover-bg: var(--verde);
    margin: 0px 70px;
    margin-bottom: 20px;
}
/*login*/
/*forms*/

#moca img{
    display: none;
}
@media (min-width:660px) {
    .Texto_logo p{
        margin: 0px 120px;
        margin-bottom: 10px;
    }
    form{
        margin: 0px 130px;
    }
    .ou{
        margin: 10px 100px;
    }
    .accont img{
        margin: 15px 155px;
    }
    .logo_flower img {
        width: 40%;
    }
}
@media  only screen and (min-width:1024px){
    .accont img{
        margin: 15px 220px;
    }
    .Texto_logo p{
        margin: 0px 200px;
        margin-bottom: 10px;
    }
    p, a, label, ::placeholder {
        font-size: 25px !important;
    }
    .logo_flower img {
        width: 30%;
    }
    .form-control {
        height: 50px;
        padding: 6px 12px 0px 12px;
    }
    .btn-primary{
        height: 45px;
        font-size: 20px;
    }
    .form-check{
        padding-left: 50px;
    }
    input[type=email]{
        font-weight: 700;
        font-size: 25px;
        padding:0;
        padding-left: 10px;
    }
    input[type=password]{
        font-weight: 700;
        font-size: 25px;
        padding:0;
        padding-left: 10px;
    }
    input[type=text]{
        font-weight: 700;
        font-size: 25px;
        padding:0;
        padding-left: 10px;
    }
}
@media  only screen and (min-width:1200px){
    .Texto_logo p{
        margin: 0px 120px;
        margin-bottom: 10px;
    }
    #lateral{
        width: 800px;
        margin-left: -80px;
    }
    #moca img{
        display: flex;
        width: 30rem;
    }
    main{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 55px;
    }
    body{
        background-image :  url(../img/pag2/pag_2_fundo.svg);
        background-repeat: no-repeat;
        background-size: 800px;

    }
    .form-control{
        padding: 6px 12px 0px 12px;
    }
    .accont img{
        margin: 15px 150px;
    }

}